/* css */

:root {
  /* color */
  --tc: #1e293b;
  --bc: #f8fafc;
  --bcc: #e3e8f0;
  --bl: #d1d5db;
  --o: #ea580c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
  line-height: 1.5;
}

/* content  */

/* header section */
.header {
  background-color: white;
  padding: 2.4rem 3.2rem;
  border-bottom: 1px solid #e3e8f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #1e293b;
}

.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.drop-down {
  position: relative;
  background-color: white;
  border: 1px solid var(--bl);
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.date-picker {
  background-color: white;
  border: 1px solid var(--bl);
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.export-btn {
  background-color: var(--o);
  border: 1px solid var(--bl);
  color: white;
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}
